In [1]:
import os
import glob
import findspark
import pandas as pd
findspark.init()
findspark.find()

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T

!python --version

Python 3.11.6

In [2]:
from pyspark.sql import SparkSession
session = SparkSession.builder.appName('APP').config('hive.exec.dynamic.partition.mode', 'nonstrict').config("spark.memory.offHeap.size","4g").enableHiveSupport().getOrCreate()

In [3]:
session

In [4]:
df = pd.read_csv("datasets/Pokemon_full.csv")

In [5]:
df1 = df[df.type.isin(['grass', 'fire', 'dragon', 'fairy'])]
df2 = df[~df.type.isin(['grass', 'fire', 'dragon', 'fairy'])]

In [6]:
data1 = session.createDataFrame(df1)
data2 = session.createDataFrame(df2)

/usr/local/spark/python/pyspark/sql/pandas/conversion.py:479: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

In [7]:
for col, new_col in zip(data1.columns, [x.replace(' ', '_') for x in data1.columns]):
    data1 = data1.withColumnRenamed(col, new_col)

data1.printSchema()

for col, new_col in zip(data2.columns, [x.replace(' ', '_') for x in data2.columns]):
    data2 = data2.withColumnRenamed(col, new_col)

data2.printSchema()

root
 |-- name: string (nullable = true)
 |-- pokedex_id: long (nullable = true)
 |-- height: long (nullable = true)
 |-- weight: long (nullable = true)
 |-- type: string (nullable = true)
 |-- secundary_type: string (nullable = true)
 |-- hp: long (nullable = true)
 |-- attack: long (nullable = true)
 |-- defense: long (nullable = true)
 |-- sp_atk: long (nullable = true)
 |-- sp_def: long (nullable = true)
 |-- speed: long (nullable = true)

root
 |-- name: string (nullable = true)
 |-- pokedex_id: long (nullable = true)
 |-- height: long (nullable = true)
 |-- weight: long (nullable = true)
 |-- type: string (nullable = true)
 |-- secundary_type: string (nullable = true)
 |-- hp: long (nullable = true)
 |-- attack: long (nullable = true)
 |-- defense: long (nullable = true)
 |-- sp_atk: long (nullable = true)
 |-- sp_def: long (nullable = true)
 |-- speed: long (nullable = true)

In [13]:
session.sql('drop table if exists pokemon')

DataFrame[]

## Partitioned table

In [14]:
q = '''create external table if not exists pokemon(
name string,
pokedex_id long,
height long, 
weight long,
secundary_type string, 
hp long, 
attack long, 
defense long,
sp_atk long,
sp_def long,
speed long
)
PARTITIONED by (type string)
STORED AS PARQUET
LOCATION 'pokemon'
'''

In [15]:
session.sql(q)

DataFrame[]

In [16]:
session.table('pokemon').show()

+----+----------+------+------+--------------+---+------+-------+------+------+-----+----+
|name|pokedex_id|height|weight|secundary_type| hp|attack|defense|sp_atk|sp_def|speed|type|
+----+----------+------+------+--------------+---+------+-------+------+------+-----+----+
+----+----------+------+------+--------------+---+------+-------+------+------+-----+----+

In [32]:
#data1 = data1.withColumn('height', F.col('height').cast(T.StringType())).withColumn('weight', F.col('weight').cast(T.StringType()))

In [17]:
data1 = data1.withColumn('height', F.col('height').cast(T.IntegerType())).withColumn('weight', F.col('weight').cast(T.IntegerType()))

In [18]:
data1.select(session.table('pokemon').columns).write.format('parquet').mode("append").insertInto('pokemon')

In [19]:
session.table('pokemon').groupby('type').agg(F.count('name').alias('records')).show()

+------+-------+
|  type|records|
+------+-------+
| grass|     86|
|  fire|     58|
|dragon|     30|
| fairy|     21|
+------+-------+

In [22]:
# First insert
data2.select(session.table('pokemon').columns).write.format('parquet').mode("append").insertInto('pokemon')
session.table('pokemon').groupby('type').agg(F.count('name').alias('records')).show()

+--------+-------+
|    type|records|
+--------+-------+
|  normal|    218|
|     bug|    150|
|   grass|     86|
|   water|    246|
| psychic|    114|
|electric|     96|
|     ice|     54|
|    rock|    100|
|    fire|     58|
|   steel|     60|
|fighting|     68|
|  poison|     70|
|   ghost|     60|
|    dark|     70|
|  dragon|     30|
|  ground|     70|
|   fairy|     21|
|  flying|     14|
+--------+-------+

In [21]:
# Second insert
data2.select(session.table('pokemon').columns).write.format('parquet').mode("append").insertInto('pokemon')
session.table('pokemon').groupby('type').agg(F.count('name').alias('records')).show()

+--------+-------+
|    type|records|
+--------+-------+
|  normal|    218|
|     bug|    150|
|   grass|    172|
|   water|    246|
|electric|     96|
|   steel|     60|
|    dark|     70|
|  poison|     70|
| psychic|    114|
|    rock|    100|
|    fire|    116|
|fighting|     68|
|  dragon|     60|
|   ghost|     60|
|     ice|     54|
|  ground|     70|
|   fairy|     42|
|  flying|     14|
+--------+-------+

In [23]:
# Insert overwrite
data2.filter('height < 10').select(session.table('pokemon').columns).write.format('parquet').mode("overwrite").insertInto('pokemon')
session.table('pokemon').groupby('type').agg(F.count('name').alias('records')).show()

+--------+-------+
|    type|records|
+--------+-------+
|     bug|     43|
|  normal|     56|
|   grass|     86|
|  dragon|     30|
|    fire|     58|
| psychic|     34|
|electric|     26|
|   ghost|     15|
|   water|     58|
|   fairy|     21|
|   steel|     14|
|     ice|      9|
|  poison|     17|
|    rock|     19|
|  flying|      4|
|    dark|     16|
|fighting|     13|
|  ground|     12|
+--------+-------+

## Non-partitioned table

In [34]:
q = '''create external table if not exists pokemon_nonpart(
name string,
pokedex_id long,
height long, 
weight long,
secundary_type string, 
hp long, 
attack long, 
defense long,
sp_atk long,
sp_def long,
speed long,
type string
)
STORED AS PARQUET
LOCATION 'pokemon_nonpart'
'''
session.sql('drop table if exists pokemon_nonpart')
session.sql(q)

DataFrame[]

In [36]:
data1.select(session.table('pokemon_nonpart').columns).write.format('parquet').mode("overwrite").insertInto('pokemon_nonpart')
session.table('pokemon_nonpart').groupby('type').agg(F.count('name').alias('records')).show()

+------+-------+
|  type|records|
+------+-------+
| grass|     86|
| fairy|     21|
|dragon|     30|
|  fire|     58|
+------+-------+

In [37]:
data2.select(session.table('pokemon_nonpart').columns).write.format('parquet').mode("overwrite").insertInto('pokemon_nonpart')
session.table('pokemon_nonpart').groupby('type').agg(F.count('name').alias('records')).show()

+--------+-------+
|    type|records|
+--------+-------+
|   ghost|     30|
|   steel|     30|
|     ice|     27|
|   water|    123|
|  ground|     35|
|  flying|      7|
|    dark|     35|
|fighting|     34|
|  poison|     35|
| psychic|     57|
|    rock|     50|
|electric|     48|
|  normal|    109|
|     bug|     75|
+--------+-------+

### Adding new columns

In [91]:
session.sql('drop table if exists pokemon')

DataFrame[]

In [24]:
q = '''create external table if not exists pokemon(
name string,
pokedex_id long,
height long, 
weight long,
secundary_type string, 
hp long, 
attack long, 
defense long,
sp_atk long,
sp_def long,
speed long,
new_test_column string,
new_another_column long
)
PARTITIONED by (type string)
STORED AS PARQUET
LOCATION 'pokemon'
'''

In [25]:
session.sql(q)

DataFrame[]

In [26]:
session.sql('MSCK REPAIR TABLE pokemon')

DataFrame[]

In [95]:
session.table('pokemon').show()

+----------+----------+------+------+--------------+---+------+-------+------+------+-----+---------------+------------------+-----+
|      name|pokedex_id|height|weight|secundary_type| hp|attack|defense|sp_atk|sp_def|speed|new_test_column|new_another_column| type|
+----------+----------+------+------+--------------+---+------+-------+------+------+-----+---------------+------------------+-----+
|    horsea|       116|     4|    80|          None| 30|    40|     70|    70|    25|   60|           null|              null|water|
|    seadra|       117|    12|   250|          None| 55|    65|     95|    95|    45|   85|           null|              null|water|
|   goldeen|       118|     6|   150|          None| 45|    67|     60|    35|    50|   63|           null|              null|water|
|   seaking|       119|    13|   390|          None| 80|    92|     65|    65|    80|   68|           null|              null|water|
|    staryu|       120|     8|   345|          None| 30|    45|     55|    70|    55|   85|           null|              null|water|
|   starmie|       121|    11|   800|       psychic| 60|    75|     85|   100|    85|  115|           null|              null|water|
|  magikarp|       129|     9|   100|          None| 20|    10|     55|    15|    20|   80|           null|              null|water|
|  gyarados|       130|    65|  2350|        flying| 95|   125|     79|    60|   100|   81|           null|              null|water|
|    lapras|       131|    25|  2200|           ice|130|    85|     80|    85|    95|   60|           null|              null|water|
|  vaporeon|       134|    10|   290|          None|130|    65|     60|   110|    95|   65|           null|              null|water|
|  totodile|       158|     6|    95|          None| 50|    65|     64|    44|    48|   43|           null|              null|water|
|  croconaw|       159|    11|   250|          None| 65|    80|     80|    59|    63|   58|           null|              null|water|
|feraligatr|       160|    23|   888|          None| 85|   105|    100|    79|    83|   78|           null|              null|water|
|  chinchou|       170|     5|   120|      electric| 75|    38|     38|    56|    56|   67|           null|              null|water|
|   lanturn|       171|    12|   225|      electric|125|    58|     58|    76|    76|   67|           null|              null|water|
|    marill|       183|     4|    85|         fairy| 70|    20|     50|    20|    50|   40|           null|              null|water|
| azumarill|       184|     8|   285|         fairy|100|    50|     80|    60|    80|   50|           null|              null|water|
|  politoed|       186|    11|   339|          None| 90|    75|     75|    90|   100|   70|           null|              null|water|
|    wooper|       194|     4|    85|        ground| 55|    45|     45|    25|    25|   15|           null|              null|water|
|  quagsire|       195|    14|   750|        ground| 95|    85|     85|    65|    65|   35|           null|              null|water|
+----------+----------+------+------+--------------+---+------+-------+------+------+-----+---------------+------------------+-----+
only showing top 20 rows

### Deleting columns

In [96]:
session.sql('drop table if exists pokemon')

DataFrame[]

In [97]:
q = '''create external table if not exists pokemon(
name string,
pokedex_id long,
height long, 
weight long,
secundary_type string, 
hp long, 
sp_atk long,
sp_def long,
speed long,
new_test_column string,
new_another_column long
)
PARTITIONED by (type string)
STORED AS PARQUET
LOCATION 'pokemon'
'''

In [98]:
session.sql(q)

DataFrame[]

In [99]:
session.sql('MSCK REPAIR TABLE pokemon')

DataFrame[]

In [100]:
session.table('pokemon').show()

+----------+----------+------+------+--------------+---+------+------+-----+---------------+------------------+-----+
|      name|pokedex_id|height|weight|secundary_type| hp|sp_atk|sp_def|speed|new_test_column|new_another_column| type|
+----------+----------+------+------+--------------+---+------+------+-----+---------------+------------------+-----+
|    horsea|       116|     4|    80|          None| 30|    70|    25|   60|           null|              null|water|
|    seadra|       117|    12|   250|          None| 55|    95|    45|   85|           null|              null|water|
|   goldeen|       118|     6|   150|          None| 45|    35|    50|   63|           null|              null|water|
|   seaking|       119|    13|   390|          None| 80|    65|    80|   68|           null|              null|water|
|    staryu|       120|     8|   345|          None| 30|    70|    55|   85|           null|              null|water|
|   starmie|       121|    11|   800|       psychic| 60|   100|    85|  115|           null|              null|water|
|  magikarp|       129|     9|   100|          None| 20|    15|    20|   80|           null|              null|water|
|  gyarados|       130|    65|  2350|        flying| 95|    60|   100|   81|           null|              null|water|
|    lapras|       131|    25|  2200|           ice|130|    85|    95|   60|           null|              null|water|
|  vaporeon|       134|    10|   290|          None|130|   110|    95|   65|           null|              null|water|
|  totodile|       158|     6|    95|          None| 50|    44|    48|   43|           null|              null|water|
|  croconaw|       159|    11|   250|          None| 65|    59|    63|   58|           null|              null|water|
|feraligatr|       160|    23|   888|          None| 85|    79|    83|   78|           null|              null|water|
|  chinchou|       170|     5|   120|      electric| 75|    56|    56|   67|           null|              null|water|
|   lanturn|       171|    12|   225|      electric|125|    76|    76|   67|           null|              null|water|
|    marill|       183|     4|    85|         fairy| 70|    20|    50|   40|           null|              null|water|
| azumarill|       184|     8|   285|         fairy|100|    60|    80|   50|           null|              null|water|
|  politoed|       186|    11|   339|          None| 90|    90|   100|   70|           null|              null|water|
|    wooper|       194|     4|    85|        ground| 55|    25|    25|   15|           null|              null|water|
|  quagsire|       195|    14|   750|        ground| 95|    65|    65|   35|           null|              null|water|
+----------+----------+------+------+--------------+---+------+------+-----+---------------+------------------+-----+
only showing top 20 rows

In [105]:
data3 = (data1
         .withColumn('type', F.concat(F.col('type'), F.lit('_new')))
        .withColumn('new_test_column', F.lit(1))
        .withColumn('new_another_column', F.lit(2))
        )

In [107]:
data3.select(session.table('pokemon').columns).write.format('parquet').mode("append").insertInto('pokemon')

In [108]:
session.table('pokemon').show()

+----------+----------+------+------+--------------+---+------+------+-----+---------------+------------------+-----+
|      name|pokedex_id|height|weight|secundary_type| hp|sp_atk|sp_def|speed|new_test_column|new_another_column| type|
+----------+----------+------+------+--------------+---+------+------+-----+---------------+------------------+-----+
|    horsea|       116|     4|    80|          None| 30|    70|    25|   60|           null|              null|water|
|    seadra|       117|    12|   250|          None| 55|    95|    45|   85|           null|              null|water|
|   goldeen|       118|     6|   150|          None| 45|    35|    50|   63|           null|              null|water|
|   seaking|       119|    13|   390|          None| 80|    65|    80|   68|           null|              null|water|
|    staryu|       120|     8|   345|          None| 30|    70|    55|   85|           null|              null|water|
|   starmie|       121|    11|   800|       psychic| 60|   100|    85|  115|           null|              null|water|
|  magikarp|       129|     9|   100|          None| 20|    15|    20|   80|           null|              null|water|
|  gyarados|       130|    65|  2350|        flying| 95|    60|   100|   81|           null|              null|water|
|    lapras|       131|    25|  2200|           ice|130|    85|    95|   60|           null|              null|water|
|  vaporeon|       134|    10|   290|          None|130|   110|    95|   65|           null|              null|water|
|  totodile|       158|     6|    95|          None| 50|    44|    48|   43|           null|              null|water|
|  croconaw|       159|    11|   250|          None| 65|    59|    63|   58|           null|              null|water|
|feraligatr|       160|    23|   888|          None| 85|    79|    83|   78|           null|              null|water|
|  chinchou|       170|     5|   120|      electric| 75|    56|    56|   67|           null|              null|water|
|   lanturn|       171|    12|   225|      electric|125|    76|    76|   67|           null|              null|water|
|    marill|       183|     4|    85|         fairy| 70|    20|    50|   40|           null|              null|water|
| azumarill|       184|     8|   285|         fairy|100|    60|    80|   50|           null|              null|water|
|  politoed|       186|    11|   339|          None| 90|    90|   100|   70|           null|              null|water|
|    wooper|       194|     4|    85|        ground| 55|    25|    25|   15|           null|              null|water|
|  quagsire|       195|    14|   750|        ground| 95|    65|    65|   35|           null|              null|water|
+----------+----------+------+------+--------------+---+------+------+-----+---------------+------------------+-----+
only showing top 20 rows

In [109]:
session.table('pokemon').groupby('type').agg(F.count('name').alias('records')).show()

+----------+-------+
|      type|records|
+----------+-------+
| grass_new|     86|
|    normal|    109|
|       bug|     75|
|     grass|     86|
|     water|    123|
|      dark|     35|
|   psychic|     57|
|  electric|     48|
|     steel|     30|
|    poison|     35|
|      rock|     50|
|      fire|     58|
|  fighting|     34|
|    dragon|     30|
|dragon_new|     30|
|  fire_new|     58|
|     ghost|     30|
|       ice|     27|
|    ground|     35|
| fairy_new|     21|
+----------+-------+
only showing top 20 rows

In [8]:
### SIZE OF DATAFRAME ESTIMATED ###

raw_size = session._jvm.org.apache.spark.util.SizeEstimator.estimate(session.table('pokemon')._jdf)
mb_size = raw_size / (1024*1024)
mb_size

22.36180877685547

## Working with FileSystem

In [12]:
fs = (session._jvm.org
      .apache.hadoop
      .fs.FileSystem
      .get(session._jsc.hadoopConfiguration())
      )

fs.exists(session._jvm.org.apache.hadoop.fs.Path("./spark-warehouse/pokemon/"))

True

In [14]:
path = "./spark-warehouse/pokemon/"
fs = session._jvm.org.apache.hadoop.fs.FileSystem.get(session._jsc.hadoopConfiguration())
list_status = fs.listStatus(session._jvm.org.apache.hadoop.fs.Path(path))
result = [file.getPath().getName() for file in list_status]

result

['type=bug',
 'type=dark',
 'type=dragon',
 'type=electric',
 'type=fairy',
 'type=fighting',
 'type=fire',
 'type=flying',
 'type=ghost',
 'type=grass',
 'type=ground',
 'type=ice',
 'type=normal',
 'type=poison',
 'type=psychic',
 'type=rock',
 'type=steel',
 'type=water',
 '_SUCCESS']

In [15]:
sc = session

hadoop = sc._jvm.org.apache.hadoop

fs = hadoop.fs.FileSystem
conf = hadoop.conf.Configuration() 
path = hadoop.fs.Path("./spark-warehouse/pokemon/")

for f in fs.get(conf).listStatus(path):
    print(f.getPath(), f.getLen())

file:/home/jovyan/work/spark-warehouse/pokemon/type=bug 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=dark 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=dragon 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=electric 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=fairy 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=fighting 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=fire 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=flying 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=ghost 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=grass 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=ground 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=ice 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=normal 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=poison 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=psychic 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=rock 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=steel 512
file:/home/jovyan/work/spark-warehouse/pokemon/type=water 512
file:/home/jovyan/work/spark-warehouse/pokemon/_SUCCESS 0

In [23]:
import time

fs = session._jvm.org.apache.hadoop.fs.FileSystem.get(session._jsc.hadoopConfiguration())
path =  session._jvm.org.apache.hadoop.fs.Path("./spark-warehouse/pokemon/")

time_ts = fs.getFileStatus(path).getModificationTime()
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(time_ts / 1000)))

2023-11-11 15:01:40

In [144]:
FS = fs.get(conf)
FS.delete(hadoop.fs.Path('/pokemon/type=rock/'), True)

False